.align-right {
  text-align: right;

  @include respond-below(md) {
    text-align: inherit;
  }
}

.align-center {
  text-align: center;
}

.resp-img {
  height: auto;
  max-width: 100%;
}

.clear {
  clear: both;
}

.nowrap-text {
  white-space: nowrap;
}
