.pt {
  padding-top: 95px
}

.pb {
  padding-bottom: 95px;
}

.mt {
  margin-top: 97px;
}

.mb-50 {
  margin-bottom: 50px;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.resp-img {
  max-width: 100%;
}

.clear {
  clear: both;
}

.nowrap-text {
  white-space: nowrap;
}
