.links {
  position: relative;

  &::before {
    background-image: url(../images/yota-link-icon.jpg);
    content: '';
    display: block;
    height: 79px;
    left: 15px;
    position: absolute;
    top: 0;
    width: 78px;
  }
}

.links__item {
  color: $secondary-color;
  display: block;
  font-size: 1em;
  font-family: geometria;
  line-height: 1.75;
  padding-left: 90px;

  &:hover {
    color: $third-color;
    text-decoration: none;
  }
}