.links {
  position: relative;

  &::before {
    background-image: url('../images/yota-icons-sprite.png');
    background-position: -230px -5px;
    content: '';
    display: block;
    height: 78px;
    left: 15px;
    position: absolute;
    top: 0;
    width: 78px;
  }
}

.links__item {
  color: $secondary-color;
  display: block;
  font-family: geometria;
  font-size: 1em;
  line-height: 1.75;
  padding-left: 90px;

  &:hover {
    color: $third-color;
    text-decoration: none;
  }
}
