.main {
  padding-bottom: 95px;
  padding-top: 95px;

  @include respond-below(md) {
    padding-bottom: 45px;
    padding-top: 45px;
  }
}

.main__yota-description {
  margin-bottom: 61px;
}

.main__yota-package,
.main__yota-assembly,
.main__yota-courses {
  margin-bottom: 95px;
}

.main__yota-assembly,
.main__yota-package {
  @include respond-below(sm) {
    margin-bottom: 10px;
  }
}

.main__youtube-video {
  @include respond-below(sm) {
    margin-bottom: 20px;
  }
}

.main__yota-courses {
  @include respond-below(md) {
    margin-bottom: 45px;
  }
}






