.main {
  padding-top: 95px;
  padding-bottom: 95px;
}

.main__yota-description {
  margin-bottom: 61px;
}

.main__yota-package,
.main__yota-assembly,
.main__yota-courses {
  margin-bottom: 95px;
}

.main__youtube-video {
  margin-bottom: 45px;
}


