.yota-headline {
  background-color: $yota-headline-bg;
  color: $primary-color;
  display: inline-block;
  font-family: 'bebas neue';
  font-size: 25px;
  font-weight: 400;
  line-height: 1;
  padding: .6em .56em .4em;
  text-transform: uppercase;
  white-space: nowrap;

  @include respond-below(xs) {
    white-space: normal;
  }
}

.yota-headline--out-wrap-lg {
  margin-left: -182px;

  @include respond-below(lg) {
    margin-left: -150px;
  }

  @include respond-below(md) {
    margin-left: 0;
  }
}

.yota-headline--out-wrap-md {
  margin-left: -85px;

  @include respond-below(lg) {
    margin-left: -55px;
  }

  @include respond-below(md) {
    margin-left: 0;
  }
}

