.yota-advantage__yota-headline {
  margin-top: 50px;
}

.yota-advantage__list {
  list-style: none;
  margin-top: 50px;
  padding-left: 0;
}

.yota-advantage__item {
  font: 16px/1.3 geometria;
  margin-bottom: 34px;
}

.yota-advantage__parahraph--out-wrap {
  margin-left: -420px;
}
