.yota-article {
  color: $secondary-color;
  font-size: 16px;

  @include respond-below(sm) {
    text-align: center;
  }
}

.yota-article__headline {
  margin-bottom: 70px;

  @include respond-below(md) {
    margin-bottom: 35px;
  }

  @include respond-below(sm) {
    text-align: left;
  }
}

.yota-article__paragraph {
  margin-bottom: 40px;

  @include respond-below(md) {
    margin-bottom: 20px;
  }

  @include respond-below(sm) {
    text-align: left;
  }

  &:first-of-type {
    margin-top: 80px;

    @include respond-below(md) {
      margin-top: 40px;
    }
  }

  &:last-of-type {
    margin-bottom: 35px;

    @include respond-below(md) {
      margin-bottom: 20px;
    }
  }
}

.yota-article__subtitle {
  font-size: inherit;
  margin-bottom: 40px;

  @include respond-below(md) {
    margin-bottom: 20px;
  }
}

.yota-article__list {
  line-height: 1.56;
  margin-bottom: 40px;
  padding-left: 30px;

  @include respond-below(md) {
    margin-bottom: 20px;
  }

  @include respond-below(sm) {
    text-align: left;
  }
}
