.yota-assembly__headline {
  margin-bottom: 70px;
}

.yota-assembly__item {
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
}

.yota-assembly__img {
  margin-bottom: px;
}

.yota-assembly__title {
  font-size: 16px;
}

.yota-assembly__list {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.yota-assembly__item {
  list-style: none;
}

