.yota-courses {
  background-color: $third-color;
  padding-bottom: 95px;
  padding-top: 95px;
}

.yota-courses__headline {
  margin-bottom: 70px;
}

.yota-courses__paragraph {
  color: $secondary-color;
  font: 16px/1.56 geometria;
  margin-bottom: 90px;
  margin-right: -80px;
}
